//indicate that we want to use awsbatch
process.executor = 'awsbatch'

//indicate the name of the AWS Batch job queue we want to use
process.queue = 'HUNDRED_QUEUE'

//region where we want to run this in
aws.region = 'us-east-1'

//Important note!!! Since we created a custom AMI
//we need to specify the path to the aws cli tool
//if you followed the instructions above for custom AMI
//the path is:
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

//Additionally if we want to use S3 to hold intermediate files we can specify the work directory
workDir = 's3://nextflow-programmatic/test_env/'

fusion {
    enabled = true
    exportStorageCredentials = true
}

wave {
    enabled = true
}
