params {
  input                      = "${projectDir}/data/input_small-s3.csv"
  database                   = "s3://pollen-metabarcoding-test-data/data/viridiplantae_all_2014.sintax.fa"  
  FW_primer                  = "ATGCGATACTTGGTGTGAAT"
  RV_primer                  = "GCATATCAATAAGCGGAGGA"
  retain_untrimmed           = true
  fastq_maxee                = 0.5
  fastq_minlen               = 250
  fastq_maxns                = 0
  fasta_width                = 0
  minuniquesize              = 2
  derep_strand               = "plus"
  sizeout                    = true
  sintax_strand              = "both"
  sintax_cutoff              = 0.95
  // Max resources for test input data can be reduced
  max_memory                 = '24.GB'
  max_cpus                   =  16
  max_time                   = '24.h'
}
